<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>electron-manga-viewer</title>
		<style>
			* {
				box-sizing: border-box;
				margin: 0;
				padding: 0;
			}

			:root {
				width: 100wh;
				height: 100vh;
			}

			body {
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;
			}

			#main-view {
				position: relative;
				flex-grow: 1;
				height: 0;
			}

			#view {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}

			#thumbnails {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 100;
				display: flex;
				justify-content: center;
				align-items: center;
				visibility: hidden;
				background-color: #0008;
				backdrop-filter: blur(0px);
				opacity: 0;
				transition: backdrop-filter 1.5s, visibility 1.5s, opacity 1.5s;
			}

			#thumbnails.thumbnails-visible {
				visibility: visible;
				backdrop-filter: blur(12px);
				opacity: 1;
			}

			#thumbnails-body {
				display: grid;
				padding: 1rem;
				width: 80%;
				height: 80%;
				overflow: auto;
				justify-content: space-evenly;
				grid-template-columns: repeat(auto-fill, 300px);
				grid-gap: 1rem;
				justify-items: center;
				align-items: center;
			}

			#thumbnails-body canvas {
			}

			#loupe {
				position: absolute;
				width: 300px;
				height: 300px;
				top: 0;
				left: 0;
				pointer-events: none;
			}

			#click-judge {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: grid;
				grid-template: "left center right" 100% / 1fr 1fr 1fr
			}

			#click-judge div {
				border: solid;
			}

			#click-judge-left {
				grid-area: left;
			}

			#click-judge-center {
				grid-area: center;
			}

			#click-judge-right {
				grid-area: right;
			}
		</style>
	</head>
	<body>
		<div>
			<button type="button" id="next">次へ</button>
			<button type="button" id="prev">前へ</button>
			<button type="button" id="show-thumbnails">サムネイル表示</button>
			<button type="button" id="load-file">ファイル読み込み</button>
		</div>
		<div id="main-view">
			<div id="thumbnails">
				<div id="thumbnails-body"></div>
			</div>
			<div id="click-judge">
				<div id="click-judge-left"></div>
				<div id="click-judge-center"></div>
				<div id="click-judge-right"></div>
			</div>
			<canvas id="view"></canvas>
			<canvas id="loupe"></canvas>
		</div>
	</body>
</html>
